$breakpoint1580: 1580.98 + px;
$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint1024: 1023.98 + px;
$breakpoint900: 899.98 + px;
$breakpoint772: 771.98 + px;
$breakpoint665: 665.98 + px;
$breakpoint416: 416.98 + px;

@media(max-width:$breakpoint1200){
  
}
@media(max-width:$breakpoint1024){
  
}
@media(max-width:$breakpoint900){
  
}
@media(max-width:$breakpoint772){
  
}
@media(max-width:$breakpoint665){
  
}
@media(max-width:$breakpoint416){
  
}